/*
    header - Referente a tag <header> criada no arquivo 
    HTML

    padding - Referente ao espaçamento do cabeçalho da 
    página HTML
    
    20px (pixel) - 1º e 2º valor passado topo e abaixo
    0 - 3º e 4º valor passado esquerda e esquerda
*/

header {
    background-color: #CCCCCC;
    padding: 20px 0;
}


/*
    .caixa - referente a tag <div> criada para centralizar a 
    formatação do cabeçalho da página HTML

    absolute - Referente a formatação do classe .caixa
    margin - Referente a separação do conteúdo dos itens sendo:
   
    0 - 1º e 2º valor passado topo e direita
    auto - 3º e 4º valor passado baixo e esquerda, faz
    o ajuste automático de acordo com sua exibição
*/

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}


/*
    nav - Referente a tag <nav>, contendo os itens de navegação

    absolute - Referente a formatação do tag <nav>
    top -  valor passado referente ao topo
    right -  valor passado referente a direita
*/

nav {
    position: absolute;
    top: 110px;
    right: 0;
}


/*
    nav li - Referente a TODOS os itens (li) que estão dentro 
    da tag <nav>

    margin - Referente a separação do conteúdo dos itens sendo:
    1º valor passado referente ao topo
    2º valor passado referente a direita
    3º valor passado referente a baixo
    4º valor passado referente a esquerda
*/

nav li {
    display: inline;
    margin: 0 0 0 15px;
}


/*
    nav a - Referente a TODOS os links (a) que estão dentro 
    da tag <nav>

    text-transform: - Usada para configuração visual do objeto CSS
    uppercase - Referente a formatação MAISCULA do conteudo passado 
    via objeto CSS

    font-weight: - Usada para informar o 'peso' da fonte
    bold; - Formatação do texto em NEGRITO

    font-size: - Usada para configuração visual do tamanhho do contéudo 
    passado via objeto CSS
    22px; - Formatação do tamanho do texto em 22px (pixels)

    text-decoration: - Usada para decoração visual do conteúdo passado
    via objeto CSS
    none; - Remove todas as formatações visuais do conteúdo passado 
    via objeto CSS

*/

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


/*
    produto - referente a classe produtos, criada para centralizar a formatação dos itens da lista da página HTML
    margin - Referente a separação do conteúdo dos itens sendo:
   
    0 - 1º e 2º valor passado topo e direita
    auto - 3º e 4º valor passado baixo e esquerda, faz
    o ajuste automático de acordo com sua exibição
    
    text-allign: Referente a centralização do conteudo do objeto
    center: Referente a formatação escolhida, centralização do conteudo do objeto
*/

.produtos {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
}


/*
    produtos li - referente a TODOS os itens (li) que estão dentro da tag <li>, criada para centralizar a formatação dos itens da lista da página HTML

    display - Referente a formatação da exibição do objeto
    text-allign: Referente a centralização do conteudo do objeto
    center: Referente a formatação escolhida, centralização do conteudo do objeto
    width - Referente ao preenchimento do objeto ao seu espaçamento, sendo igual a 30% do seu tamanho 
    originalmente definido

    vertical-align: - Referente ao alinhamento escolhido do objeto

    box-sizing - Atribuição definitiva do espaçamento do componente através do valor atribuido ao 'width'
    sendo igual a 30%

    border - Declaração universal da borda que será aplicada no objeto
    2px - Tamanho
    solid - Configuração da borda
    #000000 - Cor da borda

    border-radius - Declaração do raio de largura das bordar do objeto, tornando-o arredondado 
    em suas extremidades
    10px - Tamanho do raio


*/

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background-color: #CCCCCC;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}


/*
    nav - Referente a todos os itens de navegação (nav) que estão dentro da tag <li>
    a: Usado para referencia ao link
    hover - Evento qua ndo o mouse esta SOBRE o elemento

    text-decoration - Referente a formatação visual atribuida ao conteudo do texto
    underline - Configuração que deixa o conteúdo do texto SUBLINHADO
*/

nav a:hover {
    color: #ffb700;
    text-decoration: underline;
}


/*
    produtos h2 - referente a TODOS os itens (h2) que estão dentro da tag <li>, criada para centralizar a formatação dos itens da lista da página HTML

    font-size: - Usada para configuração visual do tamanhho do contéudo 
    passado via objeto CSS
    22px; - Formatação do tamanho do texto em 22px (pixels)
*/

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}


/*
    preco_produtos - referente a TODOS os itens que estão dentro da tag <p>, criada para centralizar a formatação dos itens contendo a descrição dos produtos

    font-size: - Usada para configuração visual do tamanhho do contéudo 
    passado via objeto CSS
    22px; - Formatação do tamanho do texto em 22px (pixels)
*/

.produto-descricao {
    font-size: 18px;
}


/*
    preco_produtos - referente a TODOS os itens que estão dentro da tag <p>, criada para centralizar a formatação dos itens contendo o preço dos produtos

    font-size: - Usada para configuração visual do tamanhho do contéudo 
    passado via objeto CSS
    22px; - Formatação do tamanho do texto em 22px (pixels)
*/

.produtos-preco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
}